<div class="site-wrap" id="home-section">
  <div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>

  <div class="ftco-blocks-cover-1">
    <div class="ftco-cover-1 innerpage overlay" style="background-image: url('/assets/hom_1.jpg')">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-lg-6 text-center">
            <span class="d-block mb-3 text-white" data-aos="fade-up">July 17, 2019 <span class="mx-2 text-primary">&bullet;</span> by James Miller</span>
              <h1 class="mb-4" data-aos="fade-up" data-aos-delay="100">service</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="img-years">
            <img src="/assets/haircut1.jpg" alt="Image" class="img-fluid">
          </div>
          <blockquote><p>dcskfskvnsdk</p></blockquote>
          <p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way.</p>
        </div>
        <div class="col-md-6 sidebar">
          <div class="sidebar-box">
            <div class="categories">
              <h3>Categories</h3>
              <li><a href="/products">Hair Treatment <span>(12)</span></a></li>
              <li><a href="/products">Nail Treatment <span>(22)</span></a></li>
              <li><a href="/products">Facials & Skin Care Treatment <span>(37)</span></a></li>
              <li><a href="/products">Tattoo Treatment<span>(42)</span></a></li>
              <li><a href="/products">Hair Removal <span>(14)</span></a></li>
              <li><a href="/products">Massages <span>(14)</span></a></li>
            </div>
          </div>
          <div class="sidebar-box">
              <div class="row  mb-5">
                <div class="col-md-12 text-center">
                  <div class="row">
                  <p class=" col-md-6 text-center">
                    <button class="btn btn-outline-primary custom-prev"><%= link_to 'Appointment', new_appointment_path %></button>
                  </p>
                </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
