<h1>New form</h1>
<form>
  <label for="email_address" >Email Address : </label>
  <input id = "email_address" type="text" class="form-control" placeholder="Email address" required >
  <br>
  <br>
  <label for="email_pasword" >  Password :</label>
  <input id="email_pasword" type="password" class="form-control" placeholder="Password" required>
  <br>
  <br>
  <label class="checkbox">
     <input type="checkbox" value="remember-me"> Remember me
  </label>
  <br>
  <button class="btn btn-lg" type="submit">Sign in</button>
  <br>
  <br>
  <label for="address">Address :</label>
  <textarea id="address"></textarea>
  <br>
  <br>
  <label for="course">Course :</label>
  <select id="course">
        <option value="books">Books</option>
        <option value="html">HTML</option>
        <option value="css">CSS</option>
        <option value="php">PHP</option>
        <option value="js">JavaScript</option>
  </select>
  <br>
  <br>
  <input type="radio" name="gender" value="male" checked> Male<br>
  <input type="radio" name="gender" value="female"> Female<br>
  <input type="radio" name="gender" value="other"> Other
</form>
