- content_for :html do
  %div
    %h1 Good Morning
    %p Copyright © 2016 Your Company
    %h2 hello beautiful
- content_for :css do
  .abc
    %h1 Good Morning
    %p Copyright © 2016 Your Company
    %h2 hello beautiful
- content_for :js do
  .ABC
    %h1 Good Morning
    %p Copyright © 2016 Your Company
    %h2 hello beautiful
